@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
    font-family: 'Nanum Gothic', serif;
    width: 300px;
    margin: 0;
    color: #999999;
    background: #1C1C1C;
}

nav {
    text-align: center;
}

 ul {
    text-align: center;
    display: inline;
    margin:0px;
    padding:0px;
}
ul li {
    display:inline-block;
    padding: 0px 2px 0px 2px;
    margin: 0px 5px 0px 5px;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}

footer {
    background: gray;
    color: black;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    text-align: center;
}
h1 small {
    font-size:0.25em;
    vertical-align:1em;
}
h2 {
    color: white;
    text-align: center;
    margin: 10px;
    padding: 0;
}
a:link {text-decoration: none; color: #EEEEEE;}
a:visited {text-decoration: none; color: #808080;}
a:active {text-decoration: none; color: #999999;}
a:hover {text-decoration: underline; color: white;}

#kmoubus-header {
    width: 100%;
    background: gray;
    color: white;
    text-align: right;
    line-height: 1.5em;
    font-weight: bold;
    top: 0px;
    left: 0px;
    margin-bottom: 1em;
}

.kmoubus-circle {
    margin: 10px auto 10px auto;
    width:225px;
    height:225px;
    border-radius:50%;
    background:gray;
    color:white;
    display:table;
}

.kmoubus-circle-inner {
    text-align: center;
    vertical-align: middle;
    display:table-cell;
}

.kmoubus-shadow {
    text-shadow: 1px 1px 4px black;
}

div.kmoubus-circle h1 {
    line-height: 00%;
    font-size:3em;
    letter-spacing: -2px;
}

